# Dependencies
node_modules/
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Build / output folders
dist/
build/
